import(stats)
import(utils)
import(grDevices)
import(graphics)
import(stringr)
import(DNAcopy)
import(pROC)
import(pracma)



#analysis
export(ccr.NormfoldChanges)
export(ccr.logFCs2chromPos)
export(ccr.cleanChrm)
export(ccr.GWclean)
export(ccr.correctCounts)

#utils
export(ccr.genes2sgRNAs)
export(ccr.geneMeanFCs)
export(ccr.get.gdsc1000.AMPgenes)
export(ccr.get.nonExpGenes)
export(ccr.get.CCLEgisticSets)

#visualisation and assessment
export(ccr.randomised_ROC)
export(ccr.ROC_Curve)
export(ccr.PrRc_Curve)
export(ccr.VisDepAndSig)
export(ccr.perf_statTests)
export(ccr.multDensPlot)
export(ccr.perf_distributions)
export(ccr.RecallCurves)
#not documented
export(ccr.impactOnPhenotype)


#export(ccr.retrieveAMPgeneGuides)
#export(ccr.retrieveDELgeneGuides)
#export(ccr.retrieveNotEXPgeneGuides)
#export(ccr.retrieveEssGeneGuides)
#export(ccr.retrieveBAGELEssGeneGuides)
#export(ccr.retrieveBAGEL_nonEssGeneGuides)
#export(ccr.retrieveGisticScores)
#export(ccr.retrievePICNICscores)

#export(ccr.assessmentReport)

#export(ccr.autoROC)
#export(ccr.boxplot)

#export(ccr.geneMeanFCs)
#export(ccr.visSigSuperimpose)
